.timeline-component {
    position: relative;
    width: 870px;
    height: 399px;
    left:20px;
    display: inline-block;
  }

  /* Line 5 */
  .vertical-line {
    position: absolute;
    width: 100px;
    height: 0px;
    left: 15px;
    top: 100px;
    border: 5px solid white;
    transform: rotate(90deg);
   
  }
  .line-horizontal {
    position: absolute;
    width: 100px;
    height: 0px;
    left: 70px;
    top: 40px;
    border: 5px solid white;
 
  }

  /* Line 4 */
  .vertical-line2 {
    position: absolute;
    width: 100px;
    height: 0px;
    left: -50px;
    top: -15px;
    border: 5px solid white;
    transform: rotate(90deg);
  }

  /* Component 25 */
  .component-25 {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 20px;
    top: 160px;
  }
  .timeline-component2{
    position: relative;
    width: 180px;
    height: 75px;
    left: 180px;
    top: 160px;
    display: inline-block;
  }
  .rectangle-container{
    position: absolute;
    width: 75px;
    height: 75px;
    left: 5px;
    top: -20px;   
  }
  .component-11 {
    position: relative;
    width: 50px;
    height: 50px;
    top:0px;
    left:200px;
  }

  /* Ellipse 8 */
  .ellipse-8 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #00FFA3;
    border-radius:100px;

  }
  
  .rectangle-58 {
    position: absolute;
    left: 0%;
    right: 29.29%;
    top: 50%;
    bottom: -20.71%;
    background: #00FFA3;
    transform: rotate(-45deg);
    width: 60px;
    height: 60px;
  }

  /* 1.0 */
  .ellipse-text {
    position: absolute;
    left: 22.67%;
    right: 24%;
    top: 24%;
    bottom: 22.67%;
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
 .rectangle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /* Counter-rotate */
    font-family: 'Anek Latin';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }