.gachaPlanner-result-container{
    display: flex;
    background-color: #444A6C;
    /* height: 200px; */
    width: 800px;
    /* align-self: flex-start; */
    /* align-content: start; */
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 25px;
}

    .gachaPlanner-result-group{
        display: flex;
        background-color: antiquewhite;
        padding: 15px;
        gap: 15px;
    }

    .symbol-container{
        display: flex;
        background-color:#444A6C;
        flex-direction: row;
        align-self: center;
        gap: 75px;
        margin: 20px;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle-container{
        background-color: #292C43;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .circle-container img {
            max-width: 70%; /* Ensure the image doesn't exceed the circular container */
            max-height: 70%; /* Ensure the image doesn't exceed the circular container */
            width: auto;
            height: auto;
            object-fit: cover;
        }

        .symbol-name-container{
            background-color: #B4D8FF;
            border-radius: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            font: 1.0rem ;
        }

        .symbol-info{
            max-width: 200px;
            font-size: 1.5rem;
            font-weight:900;
            color: white;
        }

        .informationText{
            margin: 30px;
        }

        .informationText li{
            color: white;
        }

        .save-button{
            height: 63px;
            display: flex;
            flex-direction: row;
            background-color: #444A6C;
            border-radius: 25px 25px 0px 0px;
            padding: 10px 20px 10px 20px;
            border-block-end: solid #0c0f1d;
            align-items: center;
            gap: 10px;
        }

        .save-button img{
            height: 40px;
            width: auto;
        }

        .save-button h1{
            font-size: 25px;
            margin: 0;
            color: white;
        }

        .save-button img.save-icon{
            height: 30px;
            justify-self: end;
            margin-left: auto;
        }

        .suggestion-button{
            height: 63px;
            display: flex;
            flex-direction: row;
            background-color: #444A6C;
            border-radius: 0px 0px 25px 25px;
            padding: 10px 20px 10px 20px;
            border-block-start: solid #0c0f1d;
            align-items: center;
            gap: 10px;
        }

        .suggestion-button.inactive{
            border-radius: 0px 0px 25px 25px;
        }

        .suggestion-button.active{
            border-radius: 0;
            border-block-end: solid #0c0f1d;
        }
        
        .suggestion-button h1{
            font-size: 25px;
            margin: 0;
            color: white;
        }

        .suggestion-button img.arrow-icon{
            height: 30px;
            justify-self: end;
            margin-left: auto;
        }

        .suggestion-button img.arrow-icon.active{
            transform: rotate(180deg);
        }
.input-text{
    color: #B4D8FF;
}

.result-text{
    color: #DAC0A3;
}
