.gachaPlanner-form-container{
    display: flex;
    background-color: #444A6C;
    width: 800px;
    /* align-self: flex-start;
    align-content: start;
    justify-content: center; */
    flex-direction: column;
    border-radius: 25px;
}

.gachaPlanner-header{
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #444A6C;
    border-radius: 25px 25px 0px 0px;
    padding: 10px 10px 10px 20px;
    align-items: center;
    border-block-end: solid #0c0f1d;
    gap: 10px;
    /* box-sizing: border-box; */
}

.gachaPlanner-header h1{
    font-size: 25px;
    margin: 0;
}

.gachaPlanner-header img{
    height: 40px;
    width: auto;
}

.gachaPlanner-input-section{
    padding: 25px 50px 25px 50px;
}

.gachaPlanner-form-group{
    display: flex;
    background-color: #444A6C;
    padding: 10px;
    gap: 15px;
}

.icon{
    height: 30px;
    width: auto;
}

.gachaPlanner-form-group input{
    align-self: center;
    height: 20px;
    border-radius: 5px;
}

.gachaPlanner-form-group input[type="number"]{
    width: 75px;
}

.gachaPlanner-form-group input[type="checkbox"]{
    width: 25px;
}

.gachaPlanner-form-group select{
    border-radius: 5px;
    align-self: center;
    height: 25px;
}

.gachaPlanner-form-group label{
    display: inline-block;
    font-weight: normal;
    color:white;
}

.gachaPlanner-confirm-btn{  
    padding: 10px 10px 10px 10px;
    background-color: #516CC4;
    margin: 15px;
    align-self: center;
    border-radius: 10px;
}

/* .patchDropDown{
    width: 100px;
} */