.yourplanner-page-container{
    background-color: #0C0F1D;
    
}



.yourplanner-body{
    display:grid;
    width: 100%;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 100px;
    gap: 75px;
    /* align-content: start; */
    justify-content: center;
    overflow-y: auto;
    box-sizing: border-box;
}
.te{
    color: aliceblue;
}
