.topbar-header{
    background-color: #292C43;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    height:70px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.topbar-header-pic-container{
    display: grid;
    color: #516CC4;
    font-size: 40px;
    font-weight: bold;
    align-content: center;
    /* width:1200px; */
    
}
.topbar-header-pic{
    height: 50px;
    width: auto;
}

.topbar-button{
    background-color: #292C43;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    width: 15%;
    border-style: none;
    justify-self: right;

}
.topbar-button:hover{
    opacity: 0.8;
}

.topbar-button-clicked{
    margin-top: 0px;
    background-color: #292C43;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-style: none;
    border-bottom: solid;
    border-bottom-width: 5px;
    width: 15%;
}
.topbar-user-profile-container{
    margin-top: 0.5%;
    margin-left: 0;
    width: 5%;
}

.topbar-user-profile{
    width: 45px;
}
.topbar-navigate-to-login{
    border-radius: 100px;
    background-color: #292C43;
    justify-self: right;
    border-style: none;
    cursor: pointer;
}