.overlay{
    /* position: absolute; */
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.save-container{
    display: flex;
    height: 50px;
    width: 100%;
}

.button-conatiner{
    display: flex;
    height: 25px;
    justify-content: right;
    padding: 5px;
    background-color: aquamarine;
}

.saved-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-list-button{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}

.save-list-button.inactive{
    border: none;
}

.save-list-button.active{
    border: none;
    border-left: solid 20px;
    border-color: chartreuse;
}

.overlay .btn{
    width: 50px;
    align-self: end;
}

.delete-icon{
    background-color: aqua;
}